* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.gif binary
*.ico binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

